:root {
  --grey: #707070;
  --lightGrey: #ccc;
  --mainDarkColor: #31452e;
  --lightColor: #e1e0c1;
  --mainFont: 'Wulkan Display', Georgia, serif;
  --bodyFont: 'MessinaSansWeb', Helvetica, sans-serif;
  --ctaFont: 'Chanel 600', Helvetica, sans-serif;
}

body {
  font-size: 16px;
  transition: background-color 0.6s ease;
}

.bg-main-dark {
  background-color: var(--mainDarkColor);
}

.bg-main-light {
  background-color: var(--lightColor);
}

.grey {
  color: var(--grey);
}

.main-font,
h1,
h2 {
  font-family: var(--mainFont);
  font-weight: normal;
}

.body-font,
body {
  font-family: var(--bodyFont);
}

.cta-font {
  font-family: var(--ctaFont);
}

/* Typography */

h1 {
  font-weight: normal;
  font-size: 4.5rem;
  letter-spacing: -0.035em;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.02em;
}

p {
  font-style: normal;
  font-weight: normal;
}

/* CTA */

.main-cta {
  text-transform: uppercase;
  padding: 23px 51px;
  font-family: var(--ctaFont);
  letter-spacing: 0.09em;
  font-size: 14px;
}

.main-cta.bg-main-light {
  color: var(--mainDarkColor);
}

/* Header Desktop*/

header {
  z-index: 10;
}

header nav,
.header-aob {
  height: 55px;
  display: flex;
}

header nav ul,
.header-aob > * {
  margin: auto;
}

.logo {
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

header {
  transform: none;
  opacity: 1;
  transition: all 0.4s ease;
}

header.scrolled {
  /* transform: translateY(-10px);
  opacity: 0;
  -webkit-filter: blur(4px);
  filter: blur(4px); */
  background-color: var(--lightColor);
  padding: 0.2rem 1rem;
  /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16); */
  border-bottom: 1px solid var(--mainDarkColor);
}

header .logo svg {
  transition: all 0.3s ease;
  margin: auto;
}

header.scrolled .logo {
  padding: 0.2rem 1rem;
}

header.scrolled .logo svg {
  width: 190px;
}

.header-nav a {
  color: white;
}

.header-aob * {
  color: white;
}

/* Header shop */

body.page-template-archive-product header {
  background-color: #fff;
}

body.archive header *,
body.page-template-archive-product header *,
header.scrolled * {
  color: #000;
}

header.scrolled svg path {
  fill: #000;
}

body.page-template-archive-product .cat-header {
  margin-top: 0;
}

/* Footer Desktop */

.footer-bg {
  background-position: 80% 50% !important;
  background-repeat: no-repeat;
  background-blend-mode: multiply !important;
  background-size: contain !important;
  mix-blend-mode: multiply;
}

/* Home Desktop */

.home-landing {
  min-height: 90vh;
}

.hygge-img {
  height: 70vh;
}

.home-products-overlay {
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 1s 0.5s ease;
  height: 50%;
}

.home-products.in-view .home-products-overlay {
  transform: scaleY(1);
}

.home-aob-image {
  height: 60vh;
}

.home-video-bg {
  height: 85vh;
}

.home-video-bg h1 {
  line-height: 1.3;
}

.home-ending > div:last-child {
  transform: translate(10%, -50%);
}

.form-container input {
  color: black;
  border-bottom-color: black !important;
}

.form-container input::placeholder {
  color: black;
}

.home-blends-section .product:first-child {
  position: relative;
}

.home-blends-section .product:not(.active) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(60px);
}

.home-blends-section > :first-child {
  position: relative;
}

body.home .product:not(:first-child) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(60px);
}

.home-blends-text {
  transform: translateY(-80%);
}

.home-blends-index {
  transform: translateY(-40%);
}

.blend-index img {
  width: 120px !important;
  height: auto !important;
  border-radius: 100%;
  transition: border 0.3s ease;
  border: 2px solid white;
}

.blend-index img:hover {
  border: 2px solid var(--mainDarkColor);
}

.blend-index:hover h2 {
  color: var(--mainDarkColor);
}

.blend-index:hover h2.has-after::after {
  transform: scaleX(1);
  background-color: var(--mainDarkColor);
}

/* Shop desktop grid */

body.page-template-archive-product .cat-products-container,
body.single .cat-products-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 45px;
  align-items: stretch;
}

body.archive header svg path,
body.page-template-archive-product header svg path {
  fill: #000;
}

body.page-template-archive-product main {
  margin-top: 6rem;
}

body.page-template-archive-product .woocommerce-products-header .page-title {
  padding-top: 45px;
  border-top: 1px solid black;
}

.is-product.in-grid {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  flex-grow: 1;
}

.is-product.in-grid:nth-child(even) {
  border-left: 0px solid black;
  border-right: 0px solid black;
}

/* SHOP Desktop*/

body.archive main {
  transition: background-color 0.3s ease;
}

.shop-container .cat-header .cat-header-inner {
  margin-bottom: 0px;
}

.woocommerce-products-header .page-title {
  padding: 60px 0px 0px;
}

.cat-logo {
  height: 35px;
}

.martir-logo {
  height: 90px;
}

.cat-indicators {
  border-top: 2px solid #fafafa25;
  transition: all 0.4s ease;
}

.cat-indicators.scrolled {
  transform: translateY(100%);
}

.cat-indicators img {
  width: 80px !important;
}

.cat-indicators img:nth-child(2) {
  width: 125px !important;
}

.cat-indicators img:nth-child(3) {
  width: 100px !important;
}

.cat-indicators img {
  opacity: 0.1;
  transition: opacity 0.3s ease;
  margin: auto;
}

.cat-indicators img:hover {
  opacity: 1;
}

.cat-indicators img.active {
  opacity: 1;
}

.is-product .product-main {
  opacity: 0;
  transform: translateY(200px);
  transition: 2s transform cubic-bezier(0.19, 1, 0.22, 1), 3s opacity cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1),
    transform 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  position: relative;
  text-decoration: none;
  max-width: 45%;
}

.is-product.in-view .product-main {
  opacity: 1;
  transform: translateY(0px);
  transition: 2s transform cubic-bezier(0.19, 1, 0.22, 1), 3s opacity cubic-bezier(0.19, 1, 0.22, 1);
}

.image-1,
.image-2 {
  z-index: 2;
  transition: opacity 0.3s ease;
}

.image-1 {
  width: 18%;
  top: 15%;
  left: 0%;
  /* transform: translate(20%, -75%); */
}

.image-2 {
  width: 25%;
  top: 50%;
  right: -8%;
}

.image-2 img {
  min-width: 100%;
  height: auto !important;
}

.product-cta {
  border: 1px solid #fff;
}

.product-cta {
  padding: 10px 35px;
}

/* Start Product Page Styles */

.product-info > * {
  opacity: 0;
  transform: translateY(60px);
}

.back-to-shop {
  z-index: 99;
  display: inline-flex;
}

.shop-back {
  width: 7px !important;
  margin-right: 15px;
}

.product-header {
  height: 100vh;
}

.product-info a {
  text-decoration: none;
}

/* label[for='pa_cajas'] */
table.variations label {
  display: none !important;
}

.quantity {
  color: #000;
  border: 0;
  margin-top: 20px;
  background-color: none;
  width: 90px;
  border: 1px solid black;
  padding: 15px 25px;
  display: flex;
}

.quantity input {
  background-color: unset;
  color: #000;
  width: 20px;
  margin: auto;
  border: 0;
  text-align: center;
}

.cart-product-text .quantity {
  /* border-bottom: 1px solid #000; */
  width: max-content;
  margin-top: 0px;
}
.cart-product-text .quantity input {
  color: #000;
  padding-bottom: 0;
}

select option {
  color: black;
}

td.is-variation {
  -webkit-appearance: none;
  border: 0px;
  /* border-bottom: 2px solid #000; */
  background: unset;
  color: #000;
  padding: 15px 0;
  border-radius: 0;
  position: relative;
  display: flex;
}

td.is-variation::after {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  background-image: url('/wp-content/uploads/2021/02/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  color: #000;
  pointer-events: none;
}

table.variations select {
  -webkit-appearance: none;
  background-color: unset;
  border: 1px solid black;
  color: #000;
  width: 300px;
  padding: 15px 25px;
}

table.variations option {
  border-color: 1px solid black;
  color: #000;
}

a.reset_variations {
  position: absolute;
  top: 50px;
  margin-bottom: 40px;
  display: block;
}

.single_add_to_cart_button {
  -webkit-appearance: none;
  background: #000;
  color: #fff;
  padding: 15px 58px;
  padding-left: 70px;
  margin: 30px 0;
  position: relative;
  cursor: pointer;
  border-style: none;
}

.single_add_to_cart_button::after {
  position: absolute;
  content: '';
  background-image: url('/wp-content/uploads/2020/01/cart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 23%;
  transform: translateY(11px);
}

.reset_variations {
  display: none !important;
}

.variations_form .woocommerce-variation-price {
  margin: 20px 0px;
  color: #000;
}

/* Lorenzo Siblings */

.sibgling-text {
  margin-top: -30px;
  margin-left: 20px;
}

.sibling > * {
  pointer-events: none;
}

.sibling-name-indicator p {
  opacity: 0.2;
  transition: all 0.3s ease;
}

.sibling-name-indicator p:hover {
  opacity: 1;
}

.sibling-name-indicator p.active {
  text-decoration: underline;
  opacity: 1;
}

.vintages-content-container .vintage-content {
  opacity: 0;
  /* transform: translateX(50%); */
  margin: 40px auto;
  width: 100%;
  transition: all 0.3s ease;
}

.vintages-content-container .vintage-content:last-child {
  position: relative;
  transform: initial;
  /* opacity: 1; */
}

.vintages-content-container > div.active {
  opacity: 1;
}

.vintage-year-bg {
  font-size: 300px;
  opacity: 0.1;
  color: #fff;
  text-align: center;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -35%);
  pointer-events: none;
}

.vintages-index p {
  opacity: 0.3;
  transition: all 0.3s ease;
}

.vintages-index p.active {
  opacity: 1;
  text-decoration: underline;
}

.order-minsc {
  border-bottom: 1px solid var(--lightGrey);
  border-top: 1px solid var(--lightGrey);
}
.order-minsc > div > div {
  display: flex;
  align-items: center;
  width: 30%;
}

.order-minsc > div > div img {
  width: 30px !important;
  margin-right: 25px;
  display: block;
}

.order-minsc > div > div p {
  line-height: 1.2;
}

.featured-images > div:not(.variations-container) {
  width: 0%;
}

/* Product Template Content */

.tasting-notes p {
  color: white;
  max-width: 34em;
  text-align: center;
  font-family: 'ITC Slimbach Std', Georgia, serif;
  margin-left: auto;
  margin-right: auto;
}

.tasting-notes-img img {
  width: 55px !important;
}

.maridaje {
  width: 100vw;
}

.maridaje-container {
  overflow-x: scroll;
}

.maridaje-image {
  width: 30vw;
  height: 35vh;
}

.ficha-tecnica-image {
  width: 130px;
  transform: translateX(50%);
}

.ficha-tecnica-sibling img {
  width: 80px !important;
}

.ficha-tecnica-data {
  flex: 1;
}

.ft-data-item {
  padding: 15px;
  padding-left: 150px;
  border-bottom: 1px solid #000;
}

.ft-grey-bg {
  width: 40%;
  height: 60vh;
  left: 20px;
  background-color: #ccc;
  z-index: 1;
}

.ficha-tecnica-content .main-cta {
  margin-left: 150px;
  margin-top: 30px;
  background: #000;
}

.ficha-tecnica-content .main-cta a {
  color: #fff;
}

.ficha-tecnica .ft-grey-bg {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.8s 0.3s ease;
}

.ficha-tecnica.in-view .ft-grey-bg {
  transform: scaleY(1);
}
