@font-face {
  font-family: 'Wulkan Display';
  src: url('fonts/Wulkandisplay-Regular.eot');
  src: url('fonts/Wulkandisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Wulkandisplay-Regular.woff2') format('woff2'),
    url('fonts/Wulkandisplay-Regular.woff') format('woff'),
    url('fonts/Wulkandisplay-Regular.svg#Wulkandisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansWeb';
  src: url('fonts/MessinaSansWeb-Regular.eot');
  src: url('fonts/MessinaSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/MessinaSansWeb-Regular.woff2') format('woff2'),
    url('fonts/MessinaSansWeb-Regular.woff') format('woff'),
    url('fonts/MessinaSansWeb-Regular.svg#MessinaSansWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chanel 600';
  src: url('fonts/Chanel600.eot');
  src: url('fonts/Chanel600.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chanel600.woff2') format('woff2'), url('fonts/Chanel600.woff') format('woff'),
    url('fonts/Chanel600.svg#Chanel600') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --grey: #707070;
  --lightGrey: #ccc;
  --mainDarkColor: #31452e;
  --lightColor: #e1e0c1;
  --mainFont: 'Wulkan Display', Georgia, serif;
  --bodyFont: 'MessinaSansWeb', Helvetica, sans-serif;
  --ctaFont: 'Chanel 600', Helvetica, sans-serif;
  --smooth: all 0.45s cubic-bezier(0.4, 0, 0, 1);
}

body {
  font-size: 16px;
  transition: background-color 0.6s ease;
}

.bg-main-dark {
  background-color: var(--mainDarkColor);
}

.bg-main-light {
  background-color: var(--lightColor);
}

.grey {
  color: var(--grey);
}

.main-font,
h1,
h2 {
  font-family: var(--mainFont);
  font-weight: normal;
}

.body-font,
body {
  font-family: var(--bodyFont);
}

.cta-font {
  font-family: var(--ctaFont);
}

/* Typography */

h1 {
  font-weight: normal;
  font-size: 4.5rem;
  letter-spacing: -0.035em;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -0.02em;
}

p {
  font-style: normal;
  font-weight: normal;
}

/* CTA */

.main-cta {
  text-transform: uppercase;
  padding: 23px 51px;
  font-family: var(--ctaFont);
  letter-spacing: 0.09em;
  font-size: 14px;
}

.main-cta.bg-main-light {
  color: var(--mainDarkColor);
}

/* Header Desktop*/

header {
  z-index: 10;
}

header nav,
.header-aob {
  height: 55px;
  display: flex;
}

header nav ul,
.header-aob > * {
  margin: auto;
}

.logo {
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

header {
  transform: none;
  opacity: 1;
  transition: all 0.4s ease;
}

#main.mt-0 {
  margin-top: 0;
}

header.scrolled {
  /* transform: translateY(-10px);
  opacity: 0;
  -webkit-filter: blur(4px);
  filter: blur(4px); */
  background-color: var(--lightColor);
  padding: 0.2rem 1rem;
  /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16); */
  border-bottom: 1px solid var(--mainDarkColor);
}

header .logo svg {
  transition: all 0.3s ease;
  margin: auto;
}

header.scrolled .logo {
  padding: 0.2rem 1rem;
}

header.scrolled .logo svg {
  width: 190px;
}

.header-nav a {
  color: white;
}

.header-aob * {
  color: white;
}

.products-menu > a {
  z-index: 100;
  position: relative;
}

.products-menu ul.sub-menu {
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: var(--lightColor);
  top: 0;
  left: 0;
  padding: 50px 35px;
  color: black;
  list-style-type: none;
  z-index: 99;
  padding-top: 80px;
  transition: all 0.4s ease;
}
.products-menu ul.sub-menu li {
  margin-left: 0;
}

.products-menu ul.sub-menu * {
  color: black;
  font-family: var(--mainFont);
  font-size: 2rem;
}

.products-menu ul.sub-menu li {
  margin-bottom: 15px;
}

.products-menu:hover > a {
  color: black;
}

.products-menu:hover > a::after {
  transform: scaleX(1);
}

.products-menu:hover ul.sub-menu {
  opacity: 1;
  pointer-events: all;
}

/* Header shop */

body.page-template-archive-product header {
  background-color: #fff;
}

body.archive header *,
body.page-template-archive-product header *,
header.scrolled *,
header.black * {
  color: #000;
}

header svg.cart-trigger path,
header .menu-trigger svg path {
  stroke: #fff;
}

header.scrolled svg.cart-trigger path,
header.scrolled .menu-trigger svg path,
header.black svg.cart-trigger path,
header.black .menu-trigger svg path {
  stroke: #000 !important;
}

header.scrolled svg:not(.cart-trigger) path,
header.black svg:not(.cart-trigger) path {
  fill: #000 !important;
}
header.white svg.cart-trigger path,
header.white .menu-trigger svg path {
  stroke: #fff;
}

header.white .logo path {
  fill: #fff;
}

body.page-template-archive-product .cat-header {
  margin-top: 0;
}

/* Footer Desktop */

.footer-bg {
  background-position: 80% 50% !important;
  background-repeat: no-repeat;
  background-blend-mode: multiply !important;
  background-size: contain !important;
  mix-blend-mode: multiply;
}

/* Menu Desktop */

.menu-container,
.menu-container .bg-main-dark {
  z-index: 99;
}

.menu-container .bg-main-dark {
  transform: scaleX(0);
  transform-origin: left;
}

.side-menu {
  z-index: 100;
}

ul.menu-nav > li {
  margin-bottom: 20px;
  overflow: hidden;
  transform: translateY(40px);
}

ul.menu-nav li a {
  font-family: var(--mainFont);
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  transform: translateY(100%);
  display: block;
}

.side-menu li:hover > a {
  opacity: 1;
}

.sub-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Home Desktop */

.home-video {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
}

.home-landing {
  min-height: 90vh;
}

.home-landing .black-overlay,
.home-landing > div:first-child {
  transition: all 0.3s ease;
}

.home-landing.viewing .black-overlay,
.home-landing.viewing > div:first-child {
  opacity: 0;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.hygge-img {
  height: 70vh;
}

.home-products-overlay {
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 1s 0.5s ease;
  height: 50%;
}

.home-products.in-view .home-products-overlay {
  transform: scaleY(1);
}

.home-aob-image {
  height: 80vh;
}

.home-video-bg {
  height: 85vh;
}

.home-video-bg h1 {
  line-height: 1.3;
}

.home-ending > div:last-child {
  transform: translate(10%, -50%);
}

.form-container input {
  color: black;
  border-bottom-color: black !important;
}

.form-container input::placeholder {
  color: black;
}

.home-blends-section .product:first-child {
  position: relative;
}

.home-blends-section .product:not(.active) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(60px);
}

.home-blends-section > :first-child {
  position: relative;
}

body.home .product:not(:first-child) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(60px);
}

.home-blends-text {
  transform: translateY(-80%);
}

.home-blends-index {
  transform: translateY(-40%);
}

.blend-index img {
  width: 120px !important;
  height: auto !important;
  border-radius: 100%;
  transition: border 0.3s ease;
  border: 2px solid white;
}

.blend-index img:hover {
  border: 2px solid var(--mainDarkColor);
}

.blend-index:hover h2 {
  color: var(--mainDarkColor);
}

.blend-index:hover h2.has-after::after {
  transform: scaleX(1);
  background-color: var(--mainDarkColor);
}

/* Shop desktop grid */

body.page-template-archive-product .cat-products-container,
body.single .cat-products-container {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  align-items: stretch;
  padding: 0;
  margin-left: 60px;
  margin-right: 60px;
}

body.page-template-archive-product .cat-description {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

body.archive header .logo svg path,
body.page-template-archive-product header .logo svg path {
  fill: #000;
}

body.page-template-archive-product main {
  margin-top: 6rem;
}

body.page-template-archive-product .woocommerce-products-header .page-title {
  padding-top: 45px;
  border-top: 1px solid black;
}

.is-product.in-grid {
  border-left: 1px solid black;
  /* border-right: .5px solid black; */
  margin: 0;
  flex-grow: 1;
}

.is-product.in-grid {
  border-top: 1px solid black;
}

.is-product.in-grid:first-child,
.is-product.in-grid:nth-child(2),
.is-product.in-grid:nth-child(3) {
  border-top: 0px solid black;
}

.is-product.in-grid:nth-child(even) {
  /* border-left: 1px solid #000;
  border-right: 1px solid #000; */
}

.is-product.in-grid img,
.is-product.in-grid h2,
.is-product.in-grid p {
  transition: var(--smooth);
  transition-duration: 0.5s;
}

.is-product.in-grid:hover h2,
.is-product.in-grid:hover p {
  color: #fff !important;
}

.is-product.in-grid:hover img {
  transform: scale(1.05);
}

.product-color {
  transform: scaleY(0);
  transition: var(--smooth);
  transform-origin: bottom;
  transition-duration: 0.5s;
}

.is-product.in-grid:hover .product-color {
  transform: scaleY(1);
}

/* SHOP Desktop*/

body.archive main {
  transition: background-color 0.3s ease;
}

.shop-container .cat-header .cat-header-inner {
  margin-bottom: 0px;
}

.woocommerce-products-header .page-title {
  padding: 60px 0px 0px;
}

.cat-logo {
  height: 35px;
}

.martir-logo {
  height: 90px;
}

.cat-indicators {
  border-top: 2px solid #fafafa25;
  transition: all 0.4s ease;
}

.cat-indicators.scrolled {
  transform: translateY(100%);
}

.cat-indicators img {
  width: 80px !important;
}

.cat-indicators img:nth-child(2) {
  width: 125px !important;
}

.cat-indicators img:nth-child(3) {
  width: 100px !important;
}

.cat-indicators img {
  opacity: 0.1;
  transition: opacity 0.3s ease;
  margin: auto;
}

.cat-indicators img:hover {
  opacity: 1;
}

.cat-indicators img.active {
  opacity: 1;
}

.is-product .product-main {
  opacity: 0;
  transform: translateY(200px);
  transition: 2s transform cubic-bezier(0.19, 1, 0.22, 1), 3s opacity cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1),
    transform 1s 1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  position: relative;
  text-decoration: none;
  max-width: 45%;
}

.is-product.in-view .product-main {
  opacity: 1;
  transform: translateY(0px);
  transition: 2s transform cubic-bezier(0.19, 1, 0.22, 1), 3s opacity cubic-bezier(0.19, 1, 0.22, 1);
}

.has-grid .product-main-img img {
  max-height: 500px;
  width: auto !important;
  margin: auto !important;
  display: block;
}

.image-1,
.image-2 {
  z-index: 2;
  transition: opacity 0.3s ease;
}

.image-1 {
  width: 18%;
  top: 15%;
  left: 0%;
  /* transform: translate(20%, -75%); */
}

.image-2 {
  width: 25%;
  top: 50%;
  right: -8%;
}

.image-2 img {
  min-width: 100%;
  height: auto !important;
}

.product-cta {
  border: 1px solid #fff;
}

.product-cta {
  padding: 10px 35px;
}

/* Start Product Page Styles */

.product-info > * {
  opacity: 0;
  transform: translateY(60px);
}

.back-to-shop {
  z-index: 99;
  display: inline-flex;
}

.shop-back {
  width: 7px !important;
  margin-right: 15px;
}

.product-header {
  height: 100vh;
}

.product-info a {
  text-decoration: none;
}

/* label[for='pa_cajas'] */
table.variations label {
  display: none !important;
}

.quantity {
  color: #000;
  border: 0;
  margin-top: 20px;
  background-color: none;
  width: 90px;
  border: 1px solid black;
  padding: 15px 25px;
  display: flex;
}

.quantity input {
  background-color: unset;
  color: #000;
  width: 20px;
  margin: auto;
  border: 0;
  text-align: center;
}

.cart-product-text .quantity {
  /* border-bottom: 1px solid #000; */
  width: max-content;
  margin-top: 0px;
}
.cart-product-text .quantity input {
  color: #000;
  padding-bottom: 0;
}

select option {
  color: black;
}

td.is-variation {
  -webkit-appearance: none;
  border: 0px;
  /* border-bottom: 2px solid #000; */
  background: unset;
  color: #000;
  padding: 15px 0;
  border-radius: 0;
  position: relative;
  display: flex;
}

td.is-variation::after {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  background-image: url('/wp-content/uploads/2021/02/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  color: #000;
  pointer-events: none;
}

table.variations select {
  -webkit-appearance: none;
  background-color: unset;
  border: 1px solid black;
  color: #000;
  width: 300px;
  padding: 15px 25px;
}

table.variations option {
  border-color: 1px solid black;
  color: #000;
}

a.reset_variations {
  position: absolute;
  top: 50px;
  margin-bottom: 40px;
  display: block;
}

.single_add_to_cart_button {
  -webkit-appearance: none;
  background: #000;
  color: #fff;
  padding: 15px 58px;
  padding-left: 70px;
  margin: 30px 0;
  position: relative;
  cursor: pointer;
  border-style: none;
}

.single_add_to_cart_button::after {
  position: absolute;
  content: '';
  background-image: url('/wp-content/uploads/2020/01/cart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: 0;
  left: 23%;
  transform: translateY(11px);
}

.reset_variations {
  display: none !important;
}

.variations_form .woocommerce-variation-price {
  margin: 20px 0px;
  color: #000;
}

/* Related Products */

.related .cat-products-container .is-product {
  width: 100%;
}

/* Lorenzo Siblings */

.sibgling-text {
  margin-top: -30px;
  margin-left: 20px;
}

.sibling > * {
  pointer-events: none;
}

.sibling-name-indicator p {
  opacity: 0.2;
  transition: all 0.3s ease;
}

.sibling-name-indicator p:hover {
  opacity: 1;
}

.sibling-name-indicator p.active {
  text-decoration: underline;
  opacity: 1;
}

.vintages-content-container .vintage-content {
  opacity: 0;
  /* transform: translateX(50%); */
  margin: 40px auto;
  width: 100%;
  transition: all 0.3s ease;
}

.vintages-content-container .vintage-content:last-child {
  position: relative;
  transform: initial;
  /* opacity: 1; */
}

.vintages-content-container > div.active {
  opacity: 1;
}

.vintage-year-bg {
  font-size: 300px;
  opacity: 0.1;
  color: #fff;
  text-align: center;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -35%);
  pointer-events: none;
}

.vintages-index p {
  opacity: 0.3;
  transition: all 0.3s ease;
}

.vintages-index p.active {
  opacity: 1;
  text-decoration: underline;
}

.order-minsc {
  border-bottom: 1px solid var(--lightGrey);
  border-top: 1px solid var(--lightGrey);
}
.order-minsc > div > div {
  display: flex;
  align-items: center;
  width: 30%;
}

.order-minsc > div > div img {
  width: 30px !important;
  margin-right: 25px;
  display: block;
}

.order-minsc > div > div p {
  line-height: 1.2;
}

.featured-images > div:not(.variations-container) {
  width: 0%;
}

/* Product Template Content */

.tasting-notes p {
  color: white;
  max-width: 34em;
  text-align: center;
  font-family: 'ITC Slimbach Std', Georgia, serif;
  margin-left: auto;
  margin-right: auto;
}

.tasting-notes-img img {
  width: 55px !important;
}

.maridaje {
  width: 100vw;
}

.maridaje-container {
  overflow-x: scroll;
}

.maridaje-image {
  width: 30vw;
  height: 35vh;
}

.ficha-tecnica-image {
  width: 130px;
  transform: translateX(50%);
}

.ficha-tecnica-sibling img {
  width: 80px !important;
}

.ficha-tecnica-data {
  flex: 1;
}

.ft-data-item {
  padding: 15px;
  padding-left: 150px;
  border-bottom: 1px solid #000;
}

.ft-grey-bg {
  width: 40%;
  height: 60vh;
  left: 20px;
  background-color: #ccc;
  z-index: 1;
}

.ficha-tecnica-content .main-cta {
  margin-left: 150px;
  margin-top: 30px;
  background: #000;
}

.ficha-tecnica-content .main-cta a {
  color: #fff;
}

.ficha-tecnica .ft-grey-bg {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.8s 0.3s ease;
}

.ficha-tecnica.in-view .ft-grey-bg {
  transform: scaleY(1);
}

.wc_payment_method.payment_method_woo-mercado-pago-basic label img {
  width: 86px !important;
}

body.single .cat-products-container {
  /* border-bottom: 0px solid black; */
  border-right: 0px solid black !important;
  margin: 0;
}

.views {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
}

.views > a.active svg path {
  fill: var(--mainDarkColor);
}

.views > a:hover svg path {
  fill: #000;
}

@media (max-width: 1024px) {
  .header-nav a,
  header .open-cart p {
    font-size: 0.675em;
  }

  /* Home Mid Desktop */
  .home-products-grid {
    padding: 0;
  }

  .home-ending h1 {
    font-size: 3rem;
  }
}

@media (min-width: 769px) {
  .tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  .pa5 {
    padding: 2rem;
  }

  .ph5 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Header iPad */

  header nav,
  .header-aob > a {
    display: none;
  }

  .header-aob {
    margin-left: auto;
  }

  .logo {
    left: 0;
    transform: translate(0);
    padding-left: 20px;
  }

  /* iPad Shop */

  .cat-products-container {
    overflow: hidden;
  }

  .is-product .product-main {
    max-width: 65%;
  }

  .image-1 {
    left: -13%;
  }

  .image-2 {
    width: 30%;
    top: 70%;
    right: -25%;
  }

  /* Single Product iPad */

  .product-header {
    flex-direction: column;
    height: unset;
  }

  .product-header > div,
  .quantity,
  .single_add_to_cart_button {
    width: 100%;
  }

  .featured-images {
    height: 60vh;
  }

  .product-info {
    padding: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-info h1,
  .product-info h2 {
    text-align: center;
  }

  .product-info > div {
    justify-content: center;
  }

  .related.products {
    overflow: hidden;
  }

  /* Cart iPad */

  /* .wsc-container {
    width: 70vw;
  } */
}

@media (max-width: 580px) {
  h1,
  .f1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .f2 {
    font-size: 1.5rem;
  }

  .f3 {
    font-size: 1.25rem;
  }

  .mb4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .pa5 {
    padding: 1.2rem;
  }

  .pv5 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .ph5 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .pv6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /* Header Mobile */
  /* 
  header,
  .logo {
    bottom: 0;
    top: unset !important;
  }

  header.scrolled {
    border-bottom: unset;
    border-top: 1px solid black;
  } */

  .logo svg {
    width: 175px;
  }

  header.scrolled .logo svg {
    width: 140px;
  }

  header .open-cart p {
    display: none;
  }

  /* Menu Mobile */

  .side-menu {
    padding: 30px 20px;
  }

  /* Home Mobile */

  .home-products-overlay {
    height: 80%;
  }

  .hygge-home .pa4 {
    padding: 0;
  }

  .hygge-home > div {
    padding: 30px 20px;
  }

  .home-blends-text,
  .home-blends-index {
    transform: translateY(0%);
  }

  .home-blends-index {
    padding-right: 20px;
    padding-left: 20px;
  }

  .home-ending > div:last-child {
    transform: translateY(-90px);
    position: relative;
    top: 0;
    left: 0;
  }

  .home-ending h1 {
    font-size: 2.5rem;
  }

  .home-ending * {
    text-align: center;
  }

  .blend-index.product-index.anchor.flex.flex-column.items-center {
    width: 25%;
  }

  .main-cta {
    padding: 16px 25px;
  }

  /* Single Product Mobile */
  .views {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 20px;
    border-radius: unset !important;
    box-shadow: unset;
    margin: 0;
    width: 100%;
    border-top: 1px solid var(--mainDarkColor);
    background-color: var(--lightColor);
  }

  .views > a {
    width: 50%;
    display: flex;
  }

  .views > a svg {
    margin: auto;
  }
  .product-main-img {
    position: relative;
    z-index: 2;
    padding-left: 50px;
  }

  .is-product.in-grid .product-main-img {
    padding-left: 0px;
  }

  .is-product.in-grid {
    border-bottom: 1px solid black;
  }

  .is-product.in-grid:last-child {
    border-bottom: 0px !important;
  }

  .is-product.in-grid:nth-child(even) {
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
  }

  .is-product .product-main {
    max-width: 90%;
  }

  .image-1 {
    width: 38%;
    z-index: 1;
    top: 20%;
    left: -50%;
  }

  .image-2 {
    display: none;
  }

  /* Shop Product Details */
  .product-main > div:last-child {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .product-main > div:last-child * {
    text-align: center;
  }

  .product-main > div:last-child p {
    margin-bottom: 20px;
  }
  /* Product Mobile */

  .single-product div.product {
    width: 100vw;
    overflow: hidden;
  }

  .product-header {
    flex-direction: column;
    min-height: unset;
    height: unset;
  }

  .featured-images {
    height: 50vh;
    width: 100vw;
  }

  .product-info {
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .product-info h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .product-info p:first-child {
    margin-bottom: 20px;
  }

  .sibling-name-indicator p {
    margin-bottom: 0px !important;
  }

  .product-details {
    flex-wrap: wrap;
    width: 100%;
  }

  .back-to-shop {
    display: none;
  }

  .single_add_to_cart_button {
    border: 0;
  }

  .product-detail p {
    font-size: 13px;
  }

  .mv6 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .mv7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .order-minsc > div {
    flex-direction: column;
  }

  .order-minsc > div > div {
    width: 100%;
  }

  .order-minsc > div > div:nth-child(2) {
    margin: 20px auto;
  }

  /* SHop Mobile */

  body.page-template-archive-product .cat-products-container,
  body.single .cat-products-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .is-product.in-grid:nth-child(2),
  .is-product.in-grid:nth-child(3) {
    border-top: 1px solid black;
  }

  .is-product.in-grid {
    border-bottom: 0px solid black;
  }
}
